[Unit]
Description=Ubuntu Static Reports - Update Package Set Report

[Service]
Type=oneshot
Environment="WORKDIR=/srv/staticreports/www/packagesets"

User=ubuntu
KeyringMode=private
NoNewPrivileges=true
PrivateTmp=yes
ProtectClock=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictSUIDSGID=yes

WorkingDirectory=/usr/local/src/ubuntu-archive-tools
ExecStartPre=mkdir -p ${WORKDIR}
ExecStart=/usr/local/src/ubuntu-archive-tools/packageset-report ${WORKDIR}
