[Unit]
Description=Ubuntu Static Reports - Update Package Set Report

[Timer]
OnBootSec=3min
OnUnitActiveSec=6h
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
