[Unit]
Description=Ubuntu Static Reports - Update Seeds web view

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
