[Unit]
Description=Ubuntu Static Reports - Update Seeds Web view

[Service]
Type=oneshot
User=ubuntu
Environment="WORKDIR=/srv/staticreports/www/seeds"
ExecStartPre=mkdir -p ${WORKDIR}
ExecStart=update-seeds
