[Unit]
Description=Ubuntu Static Reports - Germinate archive snapshot

[Service]
Type=oneshot

User=ubuntu
KeyringMode=private
NoNewPrivileges=true
PrivateTmp=yes
ProtectClock=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictSUIDSGID=yes

EnvironmentFile=-/etc/staticreports/archive-mirror.env
ExecStart=/usr/bin/update-germinate
