[Unit]
Description=Ubuntu Static Reports - NBS report

[Service]
Type=oneshot

User=ubuntu
KeyringMode=private
NoNewPrivileges=true
PrivateTmp=yes
ProtectClock=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictSUIDSGID=yes

WorkingDirectory=/usr/local/src/ubuntu-archive-tools

EnvironmentFile=-/etc/staticreports/archive-mirror.env
ExecStart=update-nbs
