[Unit]
Description=Ubuntu Static Reports - Update Sync Blocklist Web view

[Service]
Type=oneshot
User=ubuntu
Environment="DESTINATION=/srv/staticreports/www/sync-blocklist.txt"
ExecStart=update-sync-blocklist
