[Unit]
Description=Ubuntu Static Reports - Update Seeds Web view

[Service]
Type=oneshot
User=ubuntu
ExecStartPre=rm -rf /home/ubuntu/public_html/seeds
ExecStartPre=mkdir -p /home/ubuntu/public_html/seeds
ExecStart=update-seeds
ExecStartPost=rm -rf //srv/staticreports/www/seeds
ExecStartPost=mv -v /home/ubuntu/public_html/seeds /srv/staticreports/www/seeds

